.Homepage {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.name {
  margin: 0;
  font-size: max(10vw, 30px);

  span {
    animation: cursor-blink 1.5s infinite;

    @keyframes cursor-blink {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

.description {
  margin: 0;
  font-size: 22px;
  text-align: center;
  word-break: break-word;
  align-items: center;

  text-transform: uppercase;
}

@media (max-width: 768px) {
  .description {
    font-size: 13px;
  }
}

canvas {
  width: 100vw;
  height: 100vw;
  z-index: -1;
  position: absolute;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}
