#QuickMathsNav {
  z-index: 998;
  position: sticky;
  top: 10vh;
  height: 5vh;
  width: 100vw;
  align-items: center;
  display: flex;
  white-space: nowrap;
  margin-bottom: -5vh;
  background: #1f2022;
  border-top: inset #c1678b;
  border-bottom: inset #c1678b;

  .navElems {
    display: flex;
    height: 100%;
    overflow: auto;
    margin-left: 55px;
    margin-right: 55px;
  }

  .scrollButton {
    cursor: pointer;
    position: relative;
    min-width: 50px;
    height: 100%;
    background: #c1678b;
    position: absolute;
    border: none;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 300ms;
      fill: #f7f3f2;
      width: 32px;
      height: 32px;
    }

    &#leftScrollButton {
      top: 0;
      left: 0;

      &:active {
        svg {
          transform: translate(-50%, -50%) scale(0.75);
        }
      }
    }

    &#rightScrollButton {
      top: 0;
      right: 0;

      svg {
        transform: rotate(180deg) translate(50%, 50%);
      }

      &:active {
        svg {
          transform: rotate(180deg) translate(50%, 50%) scale(0.75);
        }
      }
    }
  }

  .navLink {
    position: relative;
    height: 100%;
    font-size: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: inherit;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

    &:not(:last-child)::after {
      content: "•";
      position: absolute;
      top: 50%;
      right: -5px;
      transform: translate(-50%, -50%);
      font-size: 1rem;
    }

    h1 {
      transition: all 300ms;
      text-align: center;
    }

    &:hover {
      transition: 300ms ease-in;
      box-shadow: inset 0px 5px 0px -1px #c1678b;

      h1 {
        color: #c1678b;
      }
    }
  }

  @media (max-width: 767px) {
    .scrollButton {
      display: none;
    }

    .navElems {
      margin-left: unset;
      margin-right: unset;
    }
  }
}
