.Projects {
  padding-top: 10vh;
  position: relative;
  overflow: hidden;

  .mobileProjects {
    display: none;
  }

  .scroller {
    border-left: 10px solid rgba(black, 0.15);
    border-right: 10px solid rgba(black, 0.15);
    min-height: 100vw;
    max-height: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    transform: rotate(-90deg);

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .project-card {
    position: relative;
    transform: rotate(90deg) translateX(31em);
    transform-origin: right top;
    position: relative;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 30em;
    width: 30em;
    background: rgba(black, 0.15);
    margin: 6em;

    & > .completion {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      width: 64px;
      height: 64px;
      padding: 1%;
      border-radius: 5px;
      background: #1f2022;
    }

    &.planned {
      border-left: 3px solid rgba(black, 0.15);

      & > .completion {
        border: 3px solid rgba(black, 0.3);
        fill: rgba(black, 0.3);
      }
    }

    &.current {
      border-left: 3px solid #ffc107;

      & > .completion {
        border: 3px solid #ffc107;
        fill: #ffc107;
      }
    }

    &.finished {
      border-left: 3px solid #37bd74;

      & > .completion {
        border: 3px solid #37bd74;
        fill: #37bd74;
      }
    }

    .card-header {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(black, 0.15);
      border-top-right-radius: 50px;
      height: 20%;
      width: 100%;

      & > :nth-child(n) {
        padding: 0;
        margin: 0;
      }
    }

    .card-body {
      white-space: pre-wrap;
      height: 54.3%;
      padding: 3%;
    }

    .card-footer {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(black, 0.15);
      border-bottom-right-radius: 50px;
      height: 20%;
      width: 100%;

      .source-status {
        position: absolute;
        left: 1em;

        svg {
          fill: #f7f3f2;
          width: 32px;
          height: 32px;
        }
      }

      & > :nth-child(n) {
        margin: 0;
      }
    }
  }

  @media (max-width: 767px) {
    & {
      height: fit-content !important;
    }

    .scroller {
      display: none;
    }

    .mobileProjects {
      display: block;
    }

    .project-card {
      text-align: center;
      height: fit-content;
      transform: unset;
      width: 85vw;

      & > :nth-child(n) {
        font-size: 0.75em;
      }

      & > .completion {
        width: 32px;
        height: 32px;
      }

      .card-header {
        height: 10em;
      }

      &:hover .card-body {
        max-height: 300px;
      }

      .card-body {
        -webkit-transition: max-height 1s;
        -moz-transition: max-height 1s;
        -ms-transition: max-height 1s;
        -o-transition: max-height 1s;
        transition: max-height 1s;
        max-height: 0;
        overflow: hidden;
      }

      .card-footer {
        min-height: 10em;
        align-items: center;

        .source-status {
          svg {
            width: 32px;
            min-height: 32px;
          }
        }
      }
    }
  }
}
