.disclaimer {
  .disclaimerMessage {
    position: relative;

    .disclaimerTitle {
      position: absolute;
      bottom: 100%;
      left: 25%;
      transform: translate(-50%, 50%);
      background: var(--accentThree);
      padding: 0 1rem;
      font-weight: 400;
    }
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid;
  }
}
