.devContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 3rem;

  pre {
    font-size: 1rem;
    font-weight: bold;
    background: var(--accentFive);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(5000px) rotateY(var(--rotateX))
      rotateX(var(--rotateY));

    @media (min-width: 767px) {
      &:hover {
        transform-style: preserve-3d;
        transform: perspective(5000px) scale(1.05);
      }
    }

    &#developerContent1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      border-radius: 3rem;

      .language-header {
        border-radius: 0 3rem;
      }
    }

    &#developerContent2 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      border-radius: 3rem;

      .language-header {
        border-radius: 0 3rem;
      }
    }

    &#developerContent3 {
      grid-row: 2 / 3;
      grid-column: 1 / -1;

      .language-header {
        border-radius: 0 1rem;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: inherit;
    }

    &::before {
      inset: 0.75rem;
      border-radius: inherit;
      background: black;
      z-index: -1;
      transform: translateZ(-50px);
      filter: blur(15px);
      opacity: 0.5;
    }

    &::after {
      z-index: -2;
      inset: -1rem;
      background: linear-gradient(-45deg, var(--background), var(--accentSix));
      transform: translateZ(-50px);
    }

    .language-header {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      background-color: var(--accentFour);
    }

    .js {
      white-space: pre-wrap;

      .operator {
        &::before {
          content: " ";
        }
        &::after {
          content: " ";
        }
      }
      .puncuation {
        &::after {
          content: "\a";
        }
      }
      .function {
        color: var(--background);
      }
      .class {
        color: var(--background);
      }
      .variableDec {
        color: var(--accentTwo);
        &::after {
          content: " ";
        }
      }
      .variable {
        color: var(--accentOne);
      }
    }

    .python {
      .def {
        color: var(--accentTwo);

        & > :last-child::after {
          content: "\a\a";
        }
      }
      .functionName {
        color: var(--background);
        & + .punctuation {
          color: var(--textColor);
          &::after {
            content: "\a";
          }

          & ~ ::before {
            content: "  ";
          }
        }
      }
      .string {
        white-space: pre-wrap;
        color: var(--accentTwo);
      }
      .argument {
        color: var(--textColor);
      }
      .function {
        color: var(--background);
      }
      .variable {
        color: var(--textColor);
      }
    }

    .css {
      .selector {
        color: var(--background);

        &::after {
          content: " ";
        }

        & + .punctuation::after {
          content: "\a";
        }
      }

      .property {
        color: var(--accentTwo);

        &::before {
          content: "  ";
        }

        + .punctuation::after {
          content: " ";
        }
      }

      .value {
        color: var(--accent);
        + .punctuation::after {
          content: "\a";
        }

        &.data-type {
          color: var(--accentTwo);
        }
      }

      .punctuation {
        color: var(--textColor);
      }

      .property + .punctuation {
        color: var(--accentOne);
      }
    }
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    pre {
      border-radius: 1rem !important;

      .language-header {
        border-radius: 0 1rem !important;
      }
    }
  }
}
