#ElementaryMathPractice {
  display: flex;
  flex-direction: column;
  margin-top: -10vh;
  height: 90vh;
  height: 90svh;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}