$logoHeight: 75px;

#Footer {
  position: relative;
  display: flex;
  height: 100px;
  width: 100vw;
  background-color: var(--accentSix);
  z-index: 3;

  > :nth-child(n) {
    z-index: inherit;
  }

  .wave {
    > :nth-child(3) {
      transform: translate(0, 10%) !important;
    }

    > :nth-child(n) {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
    }
  }

  .logo {
    max-width: $logoHeight;
    max-height: $logoHeight;
    min-width: $logoHeight;
    min-height: $logoHeight;
    transition: var(--transitionTiming);

    svg > polygon {
      fill: var(--textColor);
    }
  }
}
