@font-face
  font-family: "Montserrat"
  src: url(../public/fonts/Montserrat-VariableFont_wght.ttf)


*,
:root
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeSpeed

  // Remove all scrollbars becuase they are unpredictable and ugly
  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

body
  // Transitions are by default all so that can be specified now the line, this makes the website feel consistant.
  --transitionTiming: 300ms ease-in-out

  &.lightMode
    --textColor: #f7f3f2
    --colorOne: #8c7fff
    --colorTwo: #80c8ff
    --colorThree: #e180ff
    --contrastOne: #ff8c80
    --contrastTwo: #80ff8c

  &.darkMode
    --textColor: #f7f3f2
    --colorOne: #06003b
    --colorTwo: #2f003d
    --colorThree: #00233d
    --contrastOne: #3d0600
    --contrastTwo: #003d06

  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: var(--colorOne)
  color: var(--textColor)
  overflow-x: hidden // Nothing should ever cause the viewport to "wiggle"
  font-family: "Montserrat"
  font-weight: 750 // All fonts should be 750 unless told otherwise
  font-size: 1rem // All fonts should be minimum 1 rem unless told otherwise

  .page
    // Defines the default size of a page
    height: 100vh
    height: 100dvh
    width: 100vw

  .center
    display: flex
    justify-content: center
    align-items: center
    text-align: center
