@font-face {
  font-family: 'GT America Expanded';
  src: local('GT America Expanded'), url(./fonts/GT-America/GT-America-Expanded-Black-Trial.otf) format('opentype');
}
@font-face {
  font-family: 'GT America Extended';
  src: local('GT America Extended'), url(./fonts/GT-America/GT-America-Extended-Black-Trial.otf) format('opentype');
}
@font-face {
  font-family: 'GT America Mono';
  src: local('GT America Mono'), url(./fonts/GT-America/GT-America-Mono-Regular-Trial.otf) format('opentype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2022;
}

h1, h2, h3, h4, h5 {
  font-family: 'GT America Expanded';
}
