@font-face
  font-family: "Montserrat"
  src: url(../public/fonts/Montserrat-VariableFont_wght.ttf)

*,
:root
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeSpeed

  scrollbar-width: none
  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: var(--background)
  color: var(--textColor)
  overflow-x: hidden
  font-family: "Montserrat"
  font-weight: 750
  font-size: 1rem

  --transitionTiming: 300ms ease-in-out

  &.lightMode
    --textColor: hsl(0, 0%, 100%)
    --background: hsl(23, 97%, 46%)
    --accentOne: hsl(12, 98%, 44%)
    --accentTwo: hsl(0, 100%, 41%)
    --accentThree: hsl(358, 97%, 31%)
    --accentFour: hsl(354, 93%, 22%)
    --accentFive: hsl(339, 80%, 12%)
    --accentSix: hsl(231, 82%, 6%)

  &.darkMode
    $darknessCoef: 2
    --textColor: hsl(0, 0%, 100%)
    --background: hsl(23, 97%, calc(46%/#{$darknessCoef}))
    --accentOne: hsl(12, 98%, calc(44%/#{$darknessCoef}))
    --accentTwo: hsl(0, 100%, calc(41%/#{$darknessCoef}))
    --accentThree: hsl(358, 97%, calc(31%/#{$darknessCoef}))
    --accentFour: hsl(354, 93%, calc(22%/#{$darknessCoef}))
    --accentFive: hsl(339, 80%, calc(12%/#{$darknessCoef}))
    --accentSix: hsl(231, 82%, calc(6%/#{$darknessCoef}))

  .page
    height: 100vh
    height: 100dvh
    width: 100vw
    background: var(--accentThree)

  .center
    display: flex
    justify-content: center
    align-items: center
    text-align: center

  .waves
    height: 9vh
    background: var(--background)
    > :nth-child(3)
      transform: translate(0, 10%) !important

    > :nth-child(n)
      position: absolute
      bottom: 83%
      left: 0
      width: 100%
