#Login {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    > :nth-child(n) {
      min-width: 17rem;
      max-width: 25vw;
    }
  }

  .login-form {
    flex-direction: column;
    width: 75vw;
    position: relative;

    @media screen and (min-width: 600px) {
      width: 50vw;
      max-width: 20rem;
    }
  }

  .flex-row {
    position: relative;
    display: flex;
    margin-bottom: 1rem;

    &.errored {
      box-shadow: 0px 0px 0px 5px var(--background);

      .errorLabel {
        @extend .loginLabel;

        position: absolute;
        top: 50%;
        left: -2.5em;
        transform: translate(0, -50%);

        svg {
          opacity: 1 !important;
          fill: var(--background) !important;
        }

        background: transparent !important;
        display: block;
      }
    }
  }

  #erorrMessage {
    color: var(--background);
    text-align: center;
    font-size: 1rem;
  }

  .errorLabel {
    display: none;
  }

  .loginLabel {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      fill: var(--background);
    }

    background: var(--accentSix);
    cursor: pointer;
  }
  .loginInput {
    width: 1rem;
    padding: 1rem;
    flex: 1;
    border: 0;
    background-color: var(--textColor);

    font-size: 1rem;

    &:focus {
      outline: none;
    }
  }

  .loginSubmit {
    display: block;
    padding: 1rem;
    width: 100%;
    background: var(--background);
    border: 0;
    color: var(--textColor);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 1000;
    height: 3rem;
    transition: var(--transitionTiming);

    &:hover {
      background-color: var(--accentSix);
    }
  }

  .alternateOptions {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    > :nth-child(n):not(:last-child) {
      margin-bottom: 1rem;
    }

    > :nth-child(n) {
      height: 3rem;
      display: block;
      padding: 1rem;
      width: 100%;
      background: var(--background);
      border: 0;
      color: var(--textColor);
      cursor: pointer;
      font-size: 1rem;
      font-weight: 1000;
      transition: var(--transitionTiming);

      &:hover {
        background-color: var(--accentSix);
      }
    }
  }

  .loginProvidersSection {
    position: relative;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .loginProviders {
      display: flex;
      flex-direction: row;
      width: 100%;

      .loginProvider {
        display: table;
        cursor: pointer;
        width: 100%;

        div {
          margin: 0;
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          width: 100%;
        }

        svg {
          display: table-cell;
          margin: 0;
          background-color: var(--textColor);
          width: 2rem;
          height: 100%;
        }

        &.Google {
          border: 1px solid var(--textColor);
          background: transparent;
          color: var(--textColor);
        }
      }
    }
  }
}
